*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: black;
}


.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    width: 100vw;
    height: 100px;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0, 0));
    user-select: none;
    z-index: 2;
}

.navmenu{
    opacity: 0;
    display: none;
}
.logobar{
    opacity: 0;
    display: none;
}

.tabs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid #c6c6c6; */
    width: 60vw;
    cursor: pointer;

    

}
.tabs a{
    text-decoration: none;
    color: white;
}

.tabs li{
    transition: 0.5s;
}

.tabs li:hover{
    color: #03ffcc;
}


.page1{
    /* border: 2px solid red; */
    height: 100vh;
    background: url(assets/bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    

}

.hello{
    /* border: 2px solid #c6c6c6; */
    width: 25vw;
    height: 30vw;
    position: absolute;
    text-align: center;
    bottom: -10%;
    left: 2.5%;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 5vw;
    transition: 0.5s;
    

}

#devlp{
    position: relative;
    color: rgba(255, 255, 255, 0.633);
    font-family: 'cairo';
    text-align: center;

    font-size: 2vw;
}

.name{
    

    width: 98vw;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: row;
    padding-bottom: 20px;
    color: white;
    font-family: 'Audiowide', sans-serif;
    font-size: 10vw;
    transform: translateY('0');
    

    
    
    
}
#name2{
    display: none;
}

.name span{
    transition: 0.5s;
}
.name span span:hover{
    color: #03ffcc;
}







.page2{
    /* height: 100vh; */
    background: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    /* justify-content: center; */
        
}






#about{
    display: flex;
    flex-direction: column;
    
}

.about_p{
    font-size: 20px;
    color: #c6c6c6;
    font-family: 'cairo';
    margin-top: 130px;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s;
}

.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: #ffffff;
    opacity: 0;
    transform: translateY(-50%);
    transition: 1s;
}

.about_p, .title[data-scroll="in"] {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s;
    transition-delay: 0.3s;
}
.icon {
    cursor: pointer;
    height: 2rem;
}

.about-container{

    width: 80vw;
    margin-top: 60px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'cairo';
    gap: 10px;
}

#sub1{
    color: rgb(142, 142, 142);
    font-size: 1.5em;
    font-family: 'cairo';
    text-align: justify;
}

.about-sub-cont{
    padding: 20px 20px;
    width: 80vw;
    /* height: 400px; */
    max-height: 400px;
    border-radius: 50px;
    transition: 1s;
    transition-delay: 0.6s;
    
}

#sub1{
    opacity: 0;
}

#sub1[data-scroll="in"]{
    opacity: 1;
}

#sub2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.about-containers{
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;


    
    
}

.details-container{
    position: relative;
    width: 450px;
    max-width: 70vw;
    height: 400px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid #c6c6c6aa;
    border-radius: 50px;
    text-align: center;
    opacity: 0;
    transition: 1s ease-in-out;
    transition-delay: 0.6s;
    

    
    
}

.abt-cont{
    transform: translateY(25%);
    transition: 0.8s ease-in-out;
    transition-delay: 0.6s;
}

.abt-cont[data-scroll="in"]{
    opacity: 1;
    transform: translateY(0%);
}


.page3 {
    /* height: 100vh; */
    background: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow-x: hidden;
    /* justify-content: center; */

}

.exp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70vw;
    font-family: 'poppins', Courier, monospace;
}

#experience {
    position: relative;
}

.experience-sub-title {
    color: #c6c6c6aa;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

#det-abt{
    margin-top: 80px;

}

.cont1{
    transform: translateX(30%);
    margin-bottom: 30px;
    
}
.cont2{
    transform: translateX(-30%);
    margin-bottom: 30px;
}

.details-container[data-scroll="in"]{
    transform: translateX(0);
    opacity: 1;
}


.article-container{
    gap: 30px;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

.page4 {
    /* height: 100vh; */
    background: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* justify-content: center; */

}

#projects {
    position: relative;
}

.prjct-cont{
    margin-bottom: 100px;
}
.color-container {
    width: 450px;
    height: 600px;
    background: rgb(250, 250, 250);
    margin-top: 100px;
    
}

.project-img {
    border-radius: 2rem;
    width: 110%;
    height: 90%;
}

.project-title {
    font-family: 'cairo';
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color {
    border: rgb(53, 53, 53) 0.1rem solid;
}


.btn-color:hover {
    cursor: pointer;
}


.btn-color:hover {
    background: rgb(53, 53, 53);
    color: white;
}



.btn-color {
    background: none;
}

.btn-color:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

.footer{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.btn-cont{
    width: 30vw;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sclbtn{
    width: 70px;
    height: 70px;
    gap: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sclbtn, .email, .copyr{
    opacity: 0;
    transition: 1s ease-in-out;
    
}

.sclbtn[data-scroll="in"], .email[data-scroll="in"], .copyr[data-scroll="in"]{
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.6s;

}

@media screen and (max-width: 800px){

    .cursor{
        display: none;
    }

    .footer{
        height: 300px;
    }
    .btn-cont{
        width: 50vw;
    }
    .sclbtn{
        height: 40px;
        width: 40px;
    }
    .email, .copyr{
        font-size: 1rem;
    }

    .color-container{
        height: 500px;
    }

    .details-container h2{
        font-size: 1.4rem;
    }

    .details-container h3{
        font-size: 1rem;
    }

    .cont1, .cont2{
        height: 700px;
    }

    .cont1{
        margin-bottom: 30px;
    }

    #sub1{
        font-size: 1rem;
    }

    .abt-cont{
        margin-top: 40px;
    }
    #name{
        display: none;
        
    }
    #name2{
        display: inline;
        text-align: center;
        font-size: 4.5rem;
        padding-bottom: 0px;
    }

    .hello{
        display: none;
    }

    .tabs{
        display: none;
    }

    /* .sidemenu{
        width: 200px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -200px;
        background: linear-gradient(rgba(255, 255, 255, 0.051),rgba(255, 255, 255, 0.056));
        backdrop-filter: blur(3px);
        border-right: 2px rgba(255, 255, 255, 0.148) solid;

    } */

    .navmenu{
        position: absolute;
        width: 100%;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.068);
        border-bottom: 1px solid rgba(255, 255, 255, 0.199);
        backdrop-filter: blur(3px);
        top: -100px;
        display: flex;
        display: inline-flex;
        opacity: 1;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        transition: 0.3s ease-in-out;
        
    }

    .navbox{
        width: 80%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 60px;
        transition: 0.2s;
        transition-delay: 0.3s;
        opacity: 0;
        text-decoration: none;
        color: white;
    }
    .navlinks{
        width: 35vw;
        height: 50px;
        text-align: center;
        text-decoration: none;
        color: white;
        
        
        
    }

    .navbox a{
        text-decoration: none;
        color: white;
    }

    .logobar{
        width: 90%;
        height: 60px;
        opacity: 1;
        display: block;
        position: fixed;
        top: 15px;
        color: white;
        font-family: 'Audiowide', sans-serif;
        text-align: center;
        

    }

    .logobar span{
        color: #03ffcc;
    }
    .arrdwn{
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 0;
        background: url(assets/arrow.png);
        background-position: center;
        background-size: cover;
        cursor: pointer;
        z-index: 3;
        transition: 0.3s;
        
    }

    .btn {
    padding: 0.6rem;
    width: 6rem;
    border-radius: 2rem;
    }

    
    
    

    

   

    

}